.Search {
  position: relative;
  margin: 0 auto 1.8rem auto;
  max-width: 50%;
}

.Search-autocomplete-container {
  background-color: #fdfefe;
  border: 1px solid lightgray;
  padding: 0.1rem 0;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  text-align: left;
  z-index: 100;
}

.Search-autocomplete-item {
  padding: 0.5rem;
  cursor: pointer;
}

.Search-autocomplete-item:hover {
  background-color: lightskyblue;
  color: black;
}

.Search-autocomplete-highlight {
  background-color: rgb(255, 230, 0);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Search {
    max-width: 95%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .Search {
    max-width: 90%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Search {
    max-width: 65%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Search {
    max-width: 55%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .Search {
    max-width: 50%;
  }
}
